body{
    background-color: white;
    background-image: linear-gradient(90deg, gray, white );
 }
 body header div{
    display: grid;
    justify-content: space-around;
    text-align: center;
    color: black;
     font-family:Stoked, Helvetica;
}
main{
    display: flex;
    justify-content: space-around;
}

main img{
    width: 500px;
    height: 300px;
}
footer{
    color: black;
    display: grid;
    text-align: center;
}

a{
    text-decoration: none;
}
 
 
