body{
    background-color: black;
 }
 body header div{
    display: grid;
    justify-content: space-around;
    text-align: center;
    color: white;
}
main{
    display: flex;
    justify-content: space-around;
}

main img{
    width: 500px;
    height: 300px;
}
footer{
    color: white;
    display: grid;
    text-align: center;
}

a{
    text-decoration: none;
}
 
 
